:root{
    --background-morado:  rgb(201, 166, 235);
}
.titulo-principal{
    background-color: var(--background-morado);
    padding-left: 100px;
    padding-block: 10px;
    text-align: center;
}

.logo{
    margin-left: 10px;
    width: 100px;
}

.armar_pastel{
    background-color:#fff;
}

.decoracion_general{
    background-color: #fff;
    margin: 3px;
}

.decoracion{
    width: 990px;
    margin: 0 auto;
    padding: 20px;
}

.decoracion li{/* estos son los itemps de opciones*/
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 4px dotted #000000;  /*forma resumida de las 3 lineas de arriba*/
    border-radius: 10px /*  10px 25px 40px 50px; se escribe con sentido a las manecillas del reloj
    si se deja solo uno entontes aplica para todos lo bordes*/
}
.decoracion .descripcion{
    padding: 10px;
    margin: 5px;
}

/*Formato de la tabla */
table{
    margin: 40px 40px;
}
thead{
    background:  var(--background-morado);
    color: black;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 8px 15px;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    margin: 2em;
    font-weight: bold;
    color: black;
    background: var(--background-morado);
    border: none;
    border-radius: 5px;
    transition: 1s all;/* lo que dura la tranasicion de solor al poner el cursos sobre el botón*/
    cursor: pointer; /* se cambia el cursos a la manita al darle al botón :0*/
}

.enviar:hover{
    background: rgb(181, 27, 186);
    transform: scale(1.01);
    /* transform: scale(1.20) rotate(2deg);el boton rota y sobre salta el botón C:*/
}

footer{
    text-align: center;
    background: var(--background-morado);
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}